.page {
    min-height: 100vh;

    padding: 20px;

    background: linear-gradient(
        135deg,
        #ffffff,
        #ebe4ff,
        #e1edff,
        #d9f5f5
    );

    color: #2b1b49;
}

.topCard {
    max-width: 800px;

    margin: auto;

    text-align: center;
}

.topCard h1 {
    color: #5009b5;

    font-size: 36px;

    margin-bottom: 10px;
}

.levelBadge {
    display: inline-block;

    background: #ebe4ff;

    color: #5009b5;

    padding: 8px 20px;

    border-radius: 999px;

    font-size: 12px;

    font-weight: 700;

    margin-bottom: 15px;
}

.progressBar {
    margin-top: 20px;
    height: 14px;
    background: #1e293b;
    border-radius: 20px;
    overflow: hidden;
}

.progressFill {
    height: 100%;

    background: linear-gradient(
        90deg,
        #5009b5,
        #794cff
    );
}

.counter {
    margin-top: 10px;

    color: #64748b;

    font-weight: 600;
}

.questionCard {
    max-width: 800px;

    margin: 30px auto;

    background: white;

    border-radius: 20px;

    padding: 35px;

    text-align: center;

    border: 1px solid #ebe4ff;

    box-shadow:
        0 3px 12px rgba(0,0,0,.05);
}

.question {
    font-size: 28px;

    font-weight: 700;

    color: #2b1b49;
}

.options {
    max-width: 800px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.optionButton {
    border: 2px solid #ebe4ff;

    border-radius: 16px;

    padding: 20px;

    background: white;

    color: #2b1b49;

    font-size: 18px;

    font-weight: 600;

    cursor: pointer;

    transition: .2s ease;
}

.optionButton:hover {
    border-color: #44b8f3;

    transform: translateY(-2px);
}

.correct {
    background: #e8f8f8 !important;

    border-color: #00bbba !important;

    color: #00bbba !important;
}

.wrong {
    background: #fef2f2 !important;

    border-color: #ef4444 !important;

    color: #ef4444 !important;
}

.scoreBoard {
    text-align: center;

    margin-top: 25px;

    font-size: 22px;

    font-weight: 700;

    color: #5009b5;
}

.resultCard {
    max-width: 600px;

    margin: 60px auto;

    text-align: center;

    padding: 35px;

    background: white;

    border-radius: 20px;

    border: 1px solid #ebe4ff;

    box-shadow:
        0 5px 15px rgba(0,0,0,.05);
}

.icon {
    font-size: 70px;
}

.scoreCircle {
    width: 140px;
    height: 140px;

    margin: 20px auto;

    border-radius: 50%;

    background: linear-gradient(
        135deg,
        #5009b5,
        #794cff
    );

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    font-size: 48px;

    font-weight: 700;
}

.continueButton {
    margin-top: 20px;

    border: none;

    border-radius: 14px;

    padding: 16px 28px;

    background: linear-gradient(
        135deg,
        #5009b5,
        #794cff
    );

    color: white;

    font-weight: 700;

    cursor: pointer;

    transition: .2s ease;
}